@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --border: 0 0% 89%;
  --secondary: 0 0% 96%;
  --muted-foreground: 0 0% 45%;
}

.dark {
  --background: 0 0% 4%;
  --foreground: 0 0% 93%;
  --border: 0 0% 15%;
  --secondary: 0 0% 9%;
  --muted-foreground: 0 0% 63%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
